---
layout: default
title: MAST by Salt Lake Film Society
---
<!-- CONTENT -->
<div class="macro_tm_content" id="home">

    <!-- HOME -->
    <div class="macro_tm_section">
        {% include youtube.html %}
        <div class="top_bg_content home">
            <div class="vote report_scroll_state">
                Vote for 2019 lab topics?
                <div class="buttons">
                    <div class="yes left">Yes please</div>
                    <div class="no right">No thanks</div>
                </div>
            </div>
            <div class="statement">
                <a href="#now">discovering,</a> <a href="#program">connecting,</a> <a href="#program">nurturing,</a> <a href="#program">empowering</a> <a href="#mission">artist entrepreneurs</a>
                <div class="explanation">
                    MAST is a media accelerator studio, a non-profit program of the Salt Lake Film Society that grows artists into artist entrepreneurs.
                </div>
            </div>
            <div class="donate"><a class="button report_scroll_state" target="_DONATE" href="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E157586&id=1">Donate <span class="smile"></span></a></div>
        </div>
    </div>
    <!-- /HOME -->

    <!-- SMALL SCREENINGS -->
    <div class="macro_tm_section color-scheme plum padded-bottom" id="screenings">
        <div class="logo">
            <div class="title">
                <span class="small">small</span>
                <span class="screenings">screenings</span>
            </div>
            <img src="/assets/img/branding/mast-white-small.png" />
        </div>
        <div class="playlists">
            <row>
                <div class="heading">MAST 2019 Awards</div>
                <ul class="playlist owl-carousel" autoplay="autoplay">
                    {% for post in site.screenings %}
                        {% if post.categories contains "Awards" %}
                            <li class="playlist_item embargoed" date="{{ post.date | date_to_xmlschema }}">
                                <a href="{{ post.url }}">
                                    <div class="playlist_item_content">
                                        <img class="playlist_item_image" src="/assets/img/screenings/{{ post.title | slugify }}.jpg" alt="" />
                                        <div class="playlist_item_categories">
                                            {% for category in post.categories %}
                                                {% unless category contains "Awards" or category contains "Finalists" %}
                                                    <span class="category">{{ category }}</span>
                                                {% endunless %}
                                            {% endfor %}
                                        </div>
                                        <div class="playlist_item_title">{{ post.title }}</div>
                                    <div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </row>
            <row>
                <div class="heading">MAST 2019 Finalists</div>
                <ul class="playlist owl-carousel" autoplay="autoplay" extras="1">
                    {% for post in site.screenings %}
                        {% if post.categories contains "Finalists" %}
                            <li class="playlist_item embargoed" date="{{ post.date | date_to_xmlschema }}">
                                <a href="{{ post.url }}">
                                    <div class="playlist_item_content">
                                        <img class="playlist_item_image" src="/assets/img/screenings/{{ post.title | slugify }}.jpg" alt="" />
                                        <div class="playlist_item_categories">
                                            {% for category in post.categories %}
                                                {% unless category contains "Awards" or category contains "Finalists" %}
                                                    <span class="category">{{ category }}</span>
                                                {% endunless %}
                                            {% endfor %}
                                        </div>
                                        <div class="playlist_item_title">{{ post.title }}</div>
                                    <div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </row>
            <row>
                <div class="heading">MAST Nods</div>
                <ul class="playlist owl-carousel" autoplay="autoplay" extras="2">
                    {% for post in site.screenings %}
                        {% if post.categories contains "Nods" %}
                            <li class="playlist_item embargoed" date="{{ post.date | date_to_xmlschema }}">
                                <a href="{{ post.url }}">
                                    <div class="playlist_item_content">
                                        <img class="playlist_item_image" src="/assets/img/screenings/{{ post.title | slugify }}.jpg" alt="" />
                                        <div class="playlist_item_categories">
                                            {% for category in post.categories %}
                                                {% unless category contains "Nods" %}
                                                    <span class="category">{{ category }}</span>
                                                {% endunless %}
                                            {% endfor %}
                                        </div>
                                        <div class="playlist_item_title">{{ post.title }}</div>
                                    <div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </row>
        </div>
    </div>
    <!-- /SMALL SCREENINGS -->

    <!-- FEATURED -->
    <div class="macro_tm_section color-scheme plum padded-bottom" id="now">
        <div class="macro_tm_blog_wrap">
            <div class="macro_tm_title_holder underlying-header heading">
                Now
            </div>
            <div class="macro_tm_list_wrap section_blog" data-column="3" data-space="20">
                <div class="container">
                    <ul class="macro_list another_animation">
                        {% for post in site.posts %}
                            {% if post.layout contains "post" %}
                                <li class="list_li hideforanimation embargoed" date="{{ post.date | date_to_xmlschema }}">
                                    <div class="list_in">
                                        <a href="{{ post.url }}"><img class="image" src="{{ post.preview_image }}" alt="" /></a>
                                        <a href="{{ post.url }}"><div class="overlay_blog"></div></a>
                                        <div class="blog_definitions_wrap">
                                            <p class="date accent">{{ post.date | date_to_long_string }}</p>
                                            <span class="title_item"><a href="{{ post.url }}">{{ post.title }}</a></span>
                                            <p class="description_blog">{{ post.description | markdownify }}</p>
                                        </div>
                                        <div class="category_blog accent-bg">
                                            {% for category in post.categories %}
                                                <span>{{ category }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /FEATURED -->
    
    <!-- MISSION -->
    <div class="macro_tm_section color-scheme navy padded-bottom" id="mission">
        <div class="macro_tm_title_holder underlying-header heading">
            Our Mission
        </div>
        <div class="macro_tm_about_me_wrap">
            <div class="article-text">
                <p>At MAST, we build artists into artist-entrepreneurs.</p>
                <p>We are, all of us, defined by our stories. They are the stuff of our empathy, our hope, our ambitions. Our evolution. They give us our consciousness, our soul. We tell these stories, we all do; we all <em>should</em>. And some few can show them, conjure them visually through language, art, and motion.</p>
                <p>The tools and techniques for doing <em>this</em> are wildly different today than they were twenty years ago, or even ten. And they call for a new kind of artist: the artist entrepreneur, the artist technologist.</p>
                <p>MAST exists to discover artists, then connect, nurture, and empower them, grow them into tech-savvy artist entrepreneurs. These artist entrepreneurs will then be better equipped to create their art from <em>where they are</em>, raising a diaspora of accessible art in every city across the globe. A diverse and democratic art. A free art.</p>
                <p>This is our dream. This is our <em>mission</em>. And it’s going to be a whole lot of fun.</p>
                <p>Join us.</p>

                <div class="buttons">
                    <a class="button half-width left" href="#now">Contests</a>
                    <a class="button half-width right" target="_DONATE" href="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E157586&id=1">Donate</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /MISSION -->

    <!-- PROGRAM -->
    <div class="macro_tm_section color-scheme custard padded-bottom" id="program">
        <div class="macro_tm_title_holder underlying-header heading">
            The Program
        </div>
        <div class="macro_tm_about_me_wrap">
            <div class="article-text">
                <div class="subheading" id="labs">Labs</div>
                <p>In keeping with MAST's forward-thinking mission, our labs will cover topics ranging from novel uses of free-to-use and open-source software for keeping production costs low, to guerilla production tactics for indie content creators, to business and brand-building essentials for artist entrepreneurs. Instructors will be subject matter experts, and wherever possible, prominent influencers and advocates for the technologies and methodologies they teach.</p>
                <p>Labs are designed as an essential element of the MAST Fellowship, but are open to the public for a fee, both in-person or online.</p>
                <p>May's lab has been announced, and <a href="https://j.mp/mast-agile-ticketing" target="_NEW">tickets are available now</a>. June's and July's labs will be announced soon.</p>

                <a href="https://j.mp/mast-agile-ticketing" target="_NEW"><img src="https://mastly.s3.amazonaws.com/agile/img/events/Lab%20May%202019%20banner%201a%20%28Frame%20Your%20Career%29%20web.jpg" /></a>

                <div id="poll" class="cognito poll">
                    <script src="https://services.cognitoforms.com/s/80W-TsSO5kKqQ99QmiagdQ"></script>
                    <script>Cognito.load("forms", { id: "5" });</script>
                </div>

                <div class="subheading" id="fellowship">Fellowship</div>
                <p>The MAST Fellowship is a curated program of labs, mentorships, pitch and networking events, production subsidizing, facility and equipment offerings, and sponsor matching.</p>
                <p>Between 5 and 10 MAST Fellows will be selected by invitation, and from among the winners of the 2019 MAST contests, <em>People of Earth</em>, <em>Micro-docs</em>, and <em>Voices Seen</em>.</p>
            </div>
        </div>
    </div>
    <!-- /PROGRAM -->
            
    {% include contact.html %}
</div>
<!-- /CONTENT -->
