<div class="contact">
    <form method="POST" action="https://formspree.io/MastMediaContact@saltlakefilmsociety.org" target="_CONTACT" class="contact_form" id="contact_form">
        <div class="input_wrap">
            <ul>
                <li>
                    <div class="inner">
                        <input id="email" name="email" type="text" placeholder="Email Address" />
                        <textarea id="message" name="message" placeholder="Message"></textarea>
                        <a id="send_message" class="send_message" href="javascript:void(0);" onclick="$('#contact_form').submit();">Send message</a>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
