<div class="general instagram">
    <span class="title">Instagram Stream</span>
    <span class="line"></span>
    <div class="macro_tm_instagram_wrap">
        <ul>
            <li>
                <div class="list_in">
                    <a href="#"><img src="/assets/img/instagram/7.jpg" alt="#" /></a>
                    <a href="#"><div class="overlay"></div></a>
                    <div class="like"><p><img class="svg" src="/assets/img/svg/heartt.svg" alt="" /> 1</p></div>
                </div>
            </li>
            <li>
                <div class="list_in">
                    <a href="#"><img src="/assets/img/instagram/4.jpg" alt="#" /></a>
                    <a href="#"><div class="overlay"></div></a>
                    <div class="like"><p><img class="svg" src="/assets/img/svg/heartt.svg" alt="" /> 2</p></div>
                </div>
            </li>
            <li>
                <div class="list_in">
                    <a href="#"><img src="/assets/img/instagram/2.jpg" alt="#" /></a>
                    <a href="#"><div class="overlay"></div></a>
                    <div class="like"><p><img class="svg" src="/assets/img/svg/heartt.svg" alt="" /> 3</p></div>
                </div>
            </li>
            <li>
                <div class="list_in">
                    <a href="#"><img src="/assets/img/instagram/1.jpg" alt="#" /></a>
                    <a href="#"><div class="overlay"></div></a>
                    <div class="like"><p><img class="svg" src="/assets/img/svg/heartt.svg" alt="" /> 4</p></div>
                </div>
            </li>
            <li>
                <div class="list_in">
                    <a href="#"><img src="/assets/img/instagram/5.jpg" alt="#" /></a>
                    <a href="#"><div class="overlay"></div></a>
                    <div class="like"><p><img class="svg" src="/assets/img/svg/heartt.svg" alt="" /> 5</p></div>
                </div>
            </li>
        </ul>
    </div>
</div>
