<div class="marketify_text_slideshow">
    <div class="fn_text_slideshow" data-effect="fx2" data-interval="4000"> <!-- fx1...fx18, min 2000... max 10000 -->
        <div class="slide current"><h2 class="title">MASt!</h2></div>
        <div class="slide"><h2 class="title">Fellowships</h2></div>
        <div class="slide"><h2 class="title">Workshops</h2></div>
        <div class="slide"><h2 class="title">Networking</h2></div>
        <div class="slide"><h2 class="title">Mentoring</h2></div>
    </div>
</div>