---
layout: basic
title: MAST by Salt Lake Film Society
---
<div id="discord" class="report_scroll_state">
  <div class="button xcon-chat"></div>
</div>
<!-- WRAPPER ALL -->
<div class="macro_tm_wrapper_all" data-audio="on">

  <!-- HEADER -->
  <header class="macro_tm_header report_scroll_state">
    <div class="in">
      <div class="logo">
        <a class="light" href="/"><img src="/assets/img/branding/mast-white-small.png" alt="" /></a>
        <a class="dark" href="/"><img src="/assets/img/branding/mast-white-small.png" alt="" /></a>
      </div>
      <div class="in_relative">
        <div class="navigation_list_wrap">
          <div class="menu">
            <ul class="anchor_nav">
              <li><a href="/#now">Now</a></li>
              <li><a href="/#mission">Mission</a></li>
              <li><a href="/contests.html">Contests</a></li>
              <li><a href="/#program">Program</a></li>
              <li><a target="_DONATE" href="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E157586&id=1">Donate</a></li>
              <li><a target="_SLFS" href="https://www.slfs.org">SLFS</a></li>
              <li><a href="/#contact">Contact</a></li>
            </ul>
          </div>
          {% include social_icons.html %}
          <div class="macro_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MOBILE MENU -->
    <div class="macro_tm_mobile_menu_wrap">
      <ul class="anchor_nav">
        <li><a href="/#now">Now</a></li>
        <li><a href="/#mission">Mission</a></li>
        <li><a href="/contests.html">Contests</a></li>
        <li><a href="/#program">Program</a></li>
        <li><a target="_DONATE" href="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E157586&id=1">Donate</a></li>
        <li><a target="_SLFS" href="https://www.slfs.org">SLFS</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </header>
  <!-- /HEADER -->

  {{content}}

  <!-- FOOTER -->
  <footer class="macro_tm_footer">
    <div class="macro_tm_footer_copyright color-scheme navy">
      <p class="copyright">© 2019 Salt Lake Film Society {{ baseurl }}</p>
    </div>
  </footer>
  <!-- /FOOTER -->

  <a class="macro_tm_totop report_scroll_state" href="#"><i class="xcon-angle-up"></i></a>
</div>

<!-- / WRAPPER ALL -->