---
layout: default
title: MAST by Salt Lake Film Society
---
<!-- CONTENT -->
<div class="macro_tm_content">

    <!-- HOME -->
    <div class="macro_tm_section">
        <div class="macro_tm_top_bg_wrap">
            <div class="top_bg" style="background-image: url({{ page.banner_image }});">
            </div>
            <div class="top_bg_content blog">
                <div class="macro_tm_blog_title_holder_main">
                    <span class="heading">{{ page.title }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="macro_tm_section">
        <div class="macro_tm_single_section_wrap color-scheme {{ page.color_scheme }}">
            <div class="container">
                <div class="inner">
                    <div class="main_body_wrap">
                        <div class="macro_tm_single_page_section">
                            <div class="blog_definition_wrap">
                                <div class="macro_tm_single_main_information_wrap">
                                    <div class="macro_tm_title_holder services">
                                        <span class="title_section subheading">{{ page.subtitle }}</span>
                                        <span class="title_name accent">Posted By {{ page.author }} on {{ page.date | date_to_long_string }}</span>
                                    </div>
                                </div>
                                <div class="macro_tm_blog_definition_wrap article-text anchor_nav" markdown="1">
                                    {% if page.gallery_images %}
                                        <div class="gallery owl-carousel">
                                            {% for image in page.gallery_images %}
                                                <li class="playlist_item">
                                                    <a>
                                                        <div class="playlist_item_content">
                                                            <a href="{{ image.url }}" target="_PICTURE">
                                                                <img class="playlist_item_image" src="{{ image.url }}" />
                                                            </a>
                                                            <div class="playlist_item_caption">
                                                                {{ image.caption }}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {{ content }}
                                </div>
                                {% if page.cognito_form %}
                                    <div id="cognito" class="cognito">
                                        <script src="https://services.cognitoforms.com/s/80W-TsSO5kKqQ99QmiagdQ"></script>
                                        <script>Cognito.load("forms", { id: "{{ page.cognito_form }}" });</script>
                                    </div>
                                {% endif %}

                                {% if page.vimeo %}
                                    <iframe class="video vimeo" src="https://player.vimeo.com/video/{{ page.vimeo }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                {% endif %}

                                {% if page.youtube %}
                                    <iframe class="video youtube" src="https://www.youtube.com/embed/{{ page.youtube }}" width="640" height="360" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /HOME -->    
</div>
<!-- /CONTENT -->